
main{
    
     height: auto;
    width: 100vh;

      
    }

#quiz{
    /*background-color: #03223f;*/
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 6px;
    padding: 20px;
    display: grid;
    gap: 2vh;
     }
     
    .quiz-animation{
    animation: go-back 1s;
    transition-delay: 90ms;
    }

    @keyframes go-back {
        0% {
            transform: scale(0.95);
            opacity: 0.0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }


    
.quiz-header{
     color: rgba(255, 255, 255, 0.8);
     height: auto;
     font-size: 10pt;
     width:auto;
    justify-items: center;
     align-items: center;
     display: flex;
    
}.quiz-header h6{ padding-bottom: 3px; justify-content: flex-end; display: flex; width: 100%;}
.quiz-header h5{ padding-bottom: 3px;width:150%; display: flex; font-family: thin; font-size: 6pt;}

.pergunta h5{
    font-size: 14pt;
    width: auto; 
    text-align: justify;
  
}
.pergunta{ 
    gap: 10px;
    align-items: center;
    justify-items: center;
    color: rgb(255, 255, 255);
   }

.respostas{
    display: grid;
    gap: 6px;
    text-align: justify;
    font-family: light;
}

.respostas span{
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.057);
    color: rgba(255, 255, 255, 0.681);
    padding: 14px;
    font-size: 10pt;
    display: flex;
    align-items: center;
    transition-duration: 90ms;
}.respostas span:hover{ color:rgb(255, 255, 255);background: rgba(0, 0, 0, 0.417); cursor: pointer;transform: translateY(-3px);}

.btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    height: max-content;
}.btn button{
    background-color: rgb(0, 96, 164);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    transition-duration: 60ms;
}.btn button:hover{
    background-color:  rgb(0, 83, 138);transform: translateY(-1px);
}
@keyframes effect-size{
    0% {
        transform: scale(0);
    }
    100% {
         transform: scale(1)
    }
}
@keyframes effect-opacity{
    0% {
        opacity: 0.0;
    }
    100% {
         opacity: 1;
    }
}


.modal{
     position: fixed;
     display: none;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	align-items: center;
	background: rgba(0, 0, 0, 0.957);
    text-align: center;
	justify-content: center;
	justify-items: center;
	align-items: center;
    animation: effect-opacity 1s;
    transition-delay: 100ms;
   
}.back{
    animation: effect-size 540ms;
    transition-delay: 60ms;
    background-color: rgba(0, 0, 0, 0.512);
    padding: 16px;
    border-radius: 3px;
}
#final{
   	margin: auto;
	padding: 0px;
	border-radius: 5px 65px 5px 65px;
	width: 100;
    height: 100;
	display: flex;
	text-align: center;
	justify-content: center;
	justify-items: center;
	align-items: center;
    display: none;
    align-items: center;
    width: auto;
    margin: 3px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 5px;
    border-radius: 4px;
    padding: 15px;
    }.back section{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }h3{
    border-bottom: 1px solid rgba(255, 255, 255, 0.625); 
    font-size: 8pt; width: 100%;text-align: center;
    padding: 3px;color: aliceblue;
  }#placar{
    font-size: 22pt;
    color: rgb(255, 255, 255);
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.221);
    border-radius: 4px;
   width: max-content;
  }h2{
    color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
     }
     .icons{
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 4px;
        width: auto;
     }
    .home{
        size: 15pt;
        font-size: 55pt;
        height: 20px;
        padding-top: 0px;
        cursor: pointer;
        padding: 5px;
        filter: brightness(80%);
        }.home:hover{filter: brightness(100);}
  .resultado{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
   gap: 5px;
  }


@media screen and (min-width:0px) and (max-width:768px) {
    *{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    body{
           
    }
    #quiz{
        display:inline;
        gap: 10px;
        border-radius: 0px;
        width: auto;
               
    }
    main{
        margin: 0px;
        width: auto;
        height: 100vh;
       
    }main div{border-radius: 0px;}

    .content{
        display:grid;
        gap: 30px;
        text-align: center;
        width: auto;}
    h5{
        font-size: 6pt;
    }
   .pergunta h5{
    font-size: 14pt;
    text-align:justify;
    height: auto;
    padding: 10px;
    border-radius: 8px;
   }
    .respostas span{
    font-size: 12pt;
    height: auto;
    width: auto;
    padding: 16px;
    margin-bottom: 0px;
      }

    .btn{
        justify-content: flex-start;
    }

    .respostas{
        display: grid;
        gap: 2px;
        height: 70%;
         }
    
    }


